<section data-ng-controller="HomeController">
	<div class='container'>
		<div class='row'>
			<div class="col-xs-12 col-md-9">
				<div class='row'>
					<div class='col-md-12 col-xs-12'>
						<img ng-repeat="slide in slides"  ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{slide}}" class= "slideimage" style="width: 90%; height: 420px; border:1px solid #c1c0aa" />

						 <!-- prev / next controls -->
						<a class="arrow prev" href="#!" ng-click="showPrev()"></a>
						<a class="arrow next" href="#!" ng-click="showNext()"></a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-3">
				<div style=" margin-top:10px; height:200px; font-family:'Habibi', serif; font-weight:bold; background:#181818; color: white; border:1px solid #c1c0aa">
					<div ng-repeat= "quote in quotes" class="slide">
						<p  class="quote" ng-show="isActiveQ($index)">{{quote}}</p>
					</div>   
				</div>
			</div>
		</div>
	</div>
</section>
<section data-ng-controller="BooksController" data-ng-init="find()">
	<div class='container' style="margin-top: 27px;">
		<div class='row'>
			<div ng-repeat="book in books" class="col-xs-4 col-md-3 col-md-offset-0 col-xs-offset-4">
			    <a data-ng-href="#!/books/{{book._id}}">
				     <div><img ng-src="{{book.image}}"/><br>
                </a>
			  </div>
		</div>
	</div>
</section>
