.nav.navbar-nav{
	margin-left: 100px
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 20px;
	font-family: 'BenchNine', Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 31px;
	margin: 0 auto;
}

.nav>li {
	border-left: 1px solid red;
}

.navbar-default .navbar-nav > li > a:hover {
color: white;
background: #dc0e17;
}

.navbar-nav > a:hover {
	color: #ffffff;
	background: #dc0e17;
}

p {
	margin: 10px 0 10px 15px;
	font-weight: bold;
	font-size: 17px;
	font-family:'Habibi', serif;
}

.quotes{
	width: 313px;
}

.slidebackgrounds {
	margin-left: 45px;
}

.dropdown-menu > li > a {
	font-family: 'Habibi', serif;
}

