body {
	background: #ECE4CB;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
}

.addbutton {
	float: right;
	margin-top: -42px;
}


.nav.navbar-nav{
	margin-left: 100px
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 20px;
	font-family: 'BenchNine', Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 36px;
	margin: 0 auto;
}

.nav>li {
	border-left: 1px solid red;
}

.navbar-default .navbar-nav > li > a:hover {
	color: white;
	background: #dc0e17;
}

.btn-danger {
	margin-top: 8px;
}

.searchA {
	width: 470px !important; 
	margin-top: 8px;
}


.navbar-nav > a:hover {
	color: #ffffff;
	background: #dc0e17;
}

.quotes{
	width: 313px;
}

.slidebackgrounds {
	margin-left: 45px;
}

.dropdown-menu > li > a {
	font-family: 'Habibi', serif;
}


/*SLIDES*/

.slider {
    border: 15px solid #FFFFFF;
    border-radius: 5px;
    height: 400px;
    margin: 20px auto;
    position: relative;
    width: 800px;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.slide {
    position: absolute;
    left: 0;
}

.slide.ng-hide-add {
    opacity:1;

    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);

    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}

.slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}

.slide.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}

.slide, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}


/*Book Images*/

a.list-group-item {
	display: inline-block;
	margin:20px 20px;
	max-width: 150%;
}

img.img-responsive {
	height: 300px;
	box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.2);
	border: 1px solid #c1c0aa;
}

.list-group-item-text {
	text-align: center; 
	color: #007373;
	margin-top: 5px;
	font-size: 12px;
}

h1 {
	font-family: 'BenchNine', Helvetica, Arial, sans-serif;
}

.author {
	color: red;
}

.description {
	line-height: 1.6em;
}

.bookpage {
	padding: 20px 10px 10px 10px;
	margin: 0;
	border: 1px solid #c1c0aa;
	background: white;
}

li {
	list-style: none;
}

.reviewBody {
	border: 1px solid #c1c0aa;
}

.reviews {
	color: #666666;
}