<section data-ng-controller="BooksController">
    <div class="page-header">
        <h1>New Book</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                     <label class="control-label" for="Author">Author</label>
                    <div class="controls">
                        <input type="text" data-ng-model="author" id="Author" class="form-control" placeholder="Author" required>
                    </div>
                     <label class="control-label" for="Category">Category</label>
                    <div class="controls">
                        <input type="text" data-ng-model="category" id="Category" class="form-control" placeholder="Category" required>
                    </div>
                     <label class="control-label" for="PublishedDate">Published Date</label>
                    <div class="controls">
                        <input type="text" data-ng-model="publishedDate" id="PublishedDate" class="form-control" placeholder="Published Date" required>
                    </div>
                     <label class="control-label" for="Description">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="description" id="Description" class="form-control" placeholder="Add a short description of the book" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>