<section data-ng-controller="BooksController" data-ng-init="find()">
    <div class="page-header" style="border:none">
    </div>
    <div class="list-group" style="margin-top: -40px;">
        <div class="row">
            <div class="container col-md-3" data-ng-repeat="book in books">
                <a data-ng-href="#!/books/{{book._id}}" class="list-group-item">
                    <div class="listImage">
                        <img class="img-responsive" ng-src="{{book.image}}"/>
                    </div>
                    <!-- <h4 class="list-group-item-heading" data-ng-bind="book.title"></h4> -->
                    <small class="list-group-item-text">
                        Posted on
                        <span data-ng-bind="book.created | date:'mediumDate'"></span>
                        by
                        <span data-ng-bind="book.user.displayName"></span>
                    </small>
                </a>
            </div>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!books.$resolved || books.length">
    	No Books yet, why don't you <a href="/#!/books/create">create one</a>?
    </div>
</section>