<section data-ng-controller="BooksController" data-ng-init="load_search()">
<div class="row">
<div class="container">
 <div ng-repeat="book in book_result" class="col-xs-8 col-md-3 col-md-offset-0 col-xs-offset-2">
                <a data-ng-href="#!/books/{{book._id}}" class="list-group-item">
                    <div class="listImage">
                        <img class="img-responsive" ng-src="{{book.image}}"/>
                    </div>
                    <!-- <h4 class="list-group-item-heading" data-ng-bind="book.title"></h4> -->
                    <small class="list-group-item-text">
                        
                        <span><h5>Posted on {{book.created | date:mediumDate}}</h5></span>
                        
                        <span> <h5>by {{book.user.displayName}}</h5></span>
                    </small>
                </a>
            </div>
</div>
</section>
