<section data-ng-controller="BooksController" class="bookpage" data-ng-init="findOne()">
	<div class="page-header clearfix">
		<!-- Page Content -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-2">
                <img class="img-responsive" ng-src="{{book.image}}" alt="">
            </div>

            <div class="col-md-7">
                <div>
                    <h2 data-ng-bind="book.title"></h2>
                    <p>By <span class="author" data-ng-bind="book.author"><span></p>
                    <p>Published Date: <span data-ng-bind="book.publishedDate"><span></p>
                </div>
                <div class="page-header"></div>
                <p class= "description" data-ng-bind="book.description"></p>
            </div>
            <div class="col-lg-2">
                	<div class="pull-right class=col-lg-6" data-ng-show="authentication.user._id == book.user._id">
						<a class="btn btn-primary" href="/#!/books/{{book._id}}/edit">
							<i class="glyphicon glyphicon-edit"></i>
						</a>
						<a class="btn btn-primary" data-ng-click="remove();">
							<i class="glyphicon glyphicon-trash"></i>
						</a>
					</div>
            </div>
        </div>
        <!-- /.row -->
		
    	<div class="reviewBody clearfix">
    		<div class="reviewlist col-sm-8">
    			<ul class="col-sm-9 reviews">
    				<li data-ng-repeat="review in book.reviews"><span style= "font-weight: bold">{{review.reviewer.displayName}}</span> {{review.reviewText}}<br> on {{review.created | date:'mediumDate'}}</li>
    			</ul>
    		</div>
    		<!-- <div data-ng-hide="authentication.user._id === book.user._id">
    			<button type="button" class="btn btn-info" data-ng-hide="showReview" data-ng-click="showReview = true"><span class="glyphicon glyphicon-pencil"></span>Write a Review</button>
    		</div> -->
    		<div class="col-sm-6">
				<form class="form-horizontal"  data-ng-submit="createReview()" novalidate>
					<fieldset>
					    <input ng-model='reviewText' class="form-control" rows="3" id="comment" placeholder="Start a discussion here..."></input>
					    <input type="submit" class="btn btn-info " value="Submit">
					</fieldset>
				</form>
    		</div>
    	</div>
	</div>
</section>